<h1>Hello, <%= current_user.name %></h1>
<form action='/users/edit/<%= current_user.id %>' method='post'>
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	Current Email
	<input type='text' name='email' placeholder='<%= @user.email %>'>
	<input type='text' name='interest' placeholder='<%@user.interest %>'>
</form>