/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

body {
	background-image: image-url("barrel.jpg");
	background-size: cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
    #nav {
		text-align: center;
		background-color: #ADE8B0;
		#logo {
			color: white;
			margin: 1px;
			font-family: 'Kaushan Script', cursive;
    		display: inline-block;
    		margin-right: 45%;
    	}
		#user_login {
			display: inline-block;
		}

    }
    footer {
    	background-color: #ADE8B0;
    	width: 100%;
    	height: 50px;
    }
    
}

#wrapper{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	boarder: 1px solid black;
}


.user_profile button{
	margin-left: 107px;
}