#market_list {
	vertical-align: top;
	display: inline-block;
	overflow: scroll;
	height: 100vh;
	width: 300px;
	ul li {
		border-top: 1px solid black;
		list-style: none;
	}
}

#home_page {
	height: 100%;
	text-align:  center;
	padding-top: 22%;
	padding-bottom: 20%;
	background-image: image-url("green_plant_background.jpg");
	background-size: cover;                   
    background-repeat:   no-repeat;
    background-position: center center;

    .zipcode_error {
	color: red;
	margin-right: 75px;
	}
}
#home_index {
	background-color: rgba(249, 255, 255, .85);
	margin: 0 auto;
	width: 90%;
	#market_map {
		display: inline-block;
	}
}
#market_info {
	background-color: white;
	overflow: scroll;
	h1 {
		text-align: center
	}
	#market_details {
		display: inline-block;
		width: 30%;
		margin-left: 40px;
	}
	#market_reviews {
		display: inline-block;
		margin-left: 40px;
	}
}