#market_list {
	vertical-align: top;
	display: inline-block;
	overflow: scroll;
	height: 100vh;
	width: 300px;
	ul li {
		border-top: 1px solid black;
		list-style: none;
	}
}
#market_map {
	display: inline-block;
}
#home_page {
	height: 100vh;
	text-align:  center;
	padding-top: 20%;
	background-image: image-url("green_plant_background.jpg");
	background-size: cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
}
#home_index {
	background-color: white;
	margin: 0 auto;
	width: 90%;
}
#market_info {
	background-color: white;
	h1 {
		text-align: center
	}
}