#market_info {
	background-color: rgba(249, 255, 255, .87);
	height: 100vh;
	margin: 0 auto;
	width: 95%;
	padding: 10px;
	h1 {
		text-align: center;
	}
	#market_reviews {
		display: inline-block;
		vertical-align: top;
		ul {
			height: 300px;
			width: 600px;
			overflow: scroll;
				li {
				list-style: none;
				border-top: 1px solid black;
				}
		}	
	}
}
